html, body {
    font-family: "Noto Sans JP", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    // ul {
    //     padding: 0;
    //     margin: 0;
    // }
}
.carousel-inner {
    .carousel-item, .active {
        height: 500px;
    }

}